.ad-card {
  width: 19rem;

  &-address,
  &-date {
    margin: 0;
  }

  &-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-image {
    width: 19rem;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}
