.ad-card {
  width: 19rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }

  &-address,
  &-date {
    margin: 0;
  }

  &-image {
    width: 19rem;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}
