<form [formGroup]="loginForm" (ngSubmit)="handleFormSubmit()" class="login-container">
  @if(error) {
    <p class="text-red">{{error}}</p>
  }
  <div class="input-group">
    <label for="username" class="font-semibold w-6rem">Номер телефона</label>
    <input
      pInputText
      id="username"
      [class]="validateInput(this.loginForm.controls.phone)"
      autocomplete="off"
      type="tel"
      formControlName="phone"
    />
    @if(this.loginForm.controls.phone.invalid && this.loginForm.controls.phone.touched) {
    <small class="text-red">
      Введите верный номер телефона
    </small>
    }
  </div>

  <div class="input-group">
    <label for="password" class="font-semibold w-6rem">Пароль</label>
    <input
      pInputText
      id="password"
      [class]="validateInput(this.loginForm.controls.password)"
      autocomplete="off"
      type="password"
      formControlName="password"
    />
      @if(this.loginForm.controls.password.invalid && this.loginForm.controls.password.touched) {
      <small class="text-red">
        Введите пароль
      </small>
      }
  </div>

  <div class="login-registration">
    <span>Нет аккаунта? </span>
    <a (click)="changeForm.emit('register')">Зарегистрироваться</a>
  </div>

  <p-button
    class="login-button"
    label="Войти"
    type="submit"
    [disabled]="this.isLoading"
    [icon]="this.isLoading ?  'pi pi-spin pi-spinner' : undefined"
  />
</form>
