<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top-btn-group">
        <app-auth class="header-login" />
        <p-button class="header-newad" label="Новое объявление" icon="pi pi-plus" iconPos="right"/>

      </div>

    </div>
  </div>

  <div class="header-bottom container">
    <div class="left-section">
      <a class="header-logo" href="/">Доска объявлений</a>
      <p-button type="button" label="Категории" icon="pi pi-align-left" />
    </div>
    <div class="right-section">
      <p-inputGroup class="header-search">
        <input pInputText type="text" placeholder="Поиск...">
        <button pButton type="button" icon="pi pi-search" label="Найти"></button>
      </p-inputGroup>
    </div>
  </div>
</header>
