<h2>Новое объявление</h2>

<form class="newAdvertForm-container form" (ngSubmit)="handleFormSubmit()" [formGroup]="newAdvertForm">

  <div class="input-group">
    <label for="subcategory" class="input-label">Категория</label>

    <p-cascadeSelect formControlName="subcategory" [options]="categoriesRequestState.data" optionLabel="name" optionGroupLabel="name"
      [optionGroupChildren]="['sections', 'subcategories']"
       placeholder="Выберите категорию" />

    @if(this.newAdvertForm.controls.subcategory.invalid && this.newAdvertForm.controls.subcategory.touched) {
    <small>
      Выберите категорию
    </small>
    }

  </div>

  <div class="input-group">
    <label for="title" class="input-label">Название</label>

    <input pInputText id="title" [class]="validateInput(newAdvertForm.controls.title)" autocomplete="off" type="text"
      formControlName="title" />

    @if(this.newAdvertForm.controls.title.invalid && this.newAdvertForm.controls.title.touched) {
    <small>
      Введите название
    </small>
    }

  </div>

  <div class="input-group">
    <label for="description" class="input-label">Описание</label>

    <textarea pInputTextarea rows="5" cols="80" id="description" type="text"
      [class]="validateInput(newAdvertForm.controls.description)" autocomplete="off" type="text"
      formControlName="description"> </textarea>

    @if(this.newAdvertForm.controls.description.invalid && this.newAdvertForm.controls.description.touched) {
    <small>
      Введите описание
    </small>
    }
  </div>

  <app-address-input [formGroup]="newAdvertForm" />

  <div class="input-group">
    <label for="price" class="input-label">Цена</label>

    <p-inputGroup>
      <input pInputText id="price" [class]="validateInput(newAdvertForm.controls.price)" autocomplete="off"
        type="number" formControlName="price" />
      <p-inputGroupAddon>&#8381;</p-inputGroupAddon>
    </p-inputGroup>


    @if(this.newAdvertForm.controls.title.invalid && this.newAdvertForm.controls.title.touched) {
    <small>
      Введите цену
    </small>
    }

  </div>

  <div class="">
    <p-toast />
    <p-fileUpload name="images" (onSelect)="onFileSelect($event)" [multiple]="true" accept="image/*"
      maxFileSize="10000000" cancelLabel="Отменить" chooseLabel="Выбрать" uploadLabel="Загрузить"
      showUploadButton="false">
    </p-fileUpload>
  </div>

  <p-button
    label="Опубликовать"
    type="submit"
    [icon]="this.formRequestState.isLoading ?  'pi pi-spin pi-spinner' : undefined"
    [disabled]="!!newAdvertForm.invalid"
  />

</form>
