<form class="registration-container" (ngSubmit)="handleFormSubmit()" [formGroup]="registrationForm">
  <div class="input-group">
    <label for="phone" class="font-semibold w-6rem">Номер телефона</label>

    <input
      pInputText
      id="phone"
      [class]="validateInput(this.registrationForm.controls.phone)"
      autocomplete="off"
      type="tel"
      formControlName="phone"
    />

    @if(this.registrationForm.controls.phone.invalid && this.registrationForm.controls.phone.touched) {
    <small class="text-red">
      Введите верный номер телефона
    </small>
    }
  </div>

  <div class="input-group">
    <label for="name" class="font-semibold w-6rem">Имя</label>

    <input
      pInputText
      id="name"
      [class]="validateInput(this.registrationForm.controls.name)"
      autocomplete="off"
      type="text"
      formControlName="name"
    />

    @if(this.registrationForm.controls.phone.invalid && this.registrationForm.controls.phone.touched) {
      <small class="text-red">
        Введите имя
      </small>
    }
  </div>

  <div class="input-group">
    <label for="password" class="font-semibold w-6rem">Пароль</label>

    <input
      pInputText
      id="password"
      [class]="validateInput(this.registrationForm.controls.password)"
      autocomplete="off"
      type="password"
      formControlName="password"
    />

    @if(this.registrationForm.controls.password.invalid && this.registrationForm.controls.password.touched) {
      <small class="text-red">
        Введите пароль
      </small>
    }
  </div>

  <div class="registration-login">
    <span>Есть аккаунт? </span>
    <a (click)="changeForm.emit('login')">Войти</a>
  </div>


  <p-button
    class="registration-button"
    label="Зарегистрироваться"
    type="submit" [disabled]="this.isLoading"
    [icon]="this.isLoading ?  'pi pi-spin pi-spinner' : undefined"
  />
</form>
