<p-button type="button" label="Категории" [icon]="showCategories ? 'pi pi-times' : 'pi pi-align-left'"
  (onClick)="op.toggle($event);" />

<p-overlayPanel #op (onHide)="toggleCategories()" (onShow)="toggleCategories()">
  @if(this.requestState.isLoading) {
    <i class="pi pi-spin pi-spinner"></i>
  }
  @if (this.requestState.data && !this.requestState.isLoading) {
    <div class="sidebar-wrapper">
      <div class="categories">
        <p-listbox
          [options]="this.requestState.data"
          optionLabel="name"
          (onClick)="openSections($event)"
          [style]="{ border: 'none'}"
        >
          <ng-template let-categories pTemplate="item">
            <div class="category">
              <h3 class="category-title">{{ categories.name }}</h3><i class="pi pi-angle-right"></i>
            </div>
          </ng-template>
        </p-listbox>
      </div>

      <div class="subcategories">
        @if (showSections) {
          <h2 class="category-title"><a class="sidebar-link"
              [routerLink]="['/', selectedCategory?.guid]"
              (click)="op.hide()"
              >{{selectedCategory?.name}}</a></h2>

          @for (section of selectedCategory?.sections; track $index) {
            <div class="subcategory">
              <h4 class="subcategory-title">
                <a
                  class="sidebar-link"
                  [routerLink]="['/', selectedCategory?.guid, section.guid]"
                  (click)="op.hide()"
                >
                {{section.name}}
                </a>
              </h4>
              @for (subcategory of section.subcategories; track $index) {
                <a
                  class="subcategory-option sidebar-link"
                  [routerLink]="['/', selectedCategory?.guid, section.guid, subcategory.guid]"
                  (click)="op.hide()"
                >
                  {{subcategory.name}}
                </a>
              }
            </div>
          }
        }
      </div>
    </div>
  }
  @if(this.requestState.error) {
    <p>{{this.requestState.error}}</p>
  }


</p-overlayPanel>
